* {
    margin: 0;
    padding: 0;
    font-size: (1vw + 1em);
}



header {
    position: fixed;
    font-size: .8em;
    top: 0;
    display: flex;
    width: 100vw;
    height: 12vh;
    justify-content: space-between;
    border-bottom: 1px solid blue;
    background-color: rgb(99,170,188);
}


footer {
    width: 100vw;
    background-color: rgb(99,170,188);
    height: 5vh;
    border-top: 1px solid blue;
}

.navbar {
    background-color: rgb(99,170,188);
    border: 1px solid rgb(33,101,131);
    box-shadow: 0 0 5px 1px rgba(0,0,0,0.3);
    position: fixed;
    right: 3vw;
    top: 1vh;
}

.openNavbar {
    height: 40vh;
    width: 25vh;
}

.navbar ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    list-style: none;
    margin: 20% auto;
    line-height: 3em;
}


.menuOpenButton {
    position: absolute;
    height: 5vh;
    width: 5vh;
    top:0;
    right:0;
}

main {
    justify-content: center;
    width: 100vw;
    margin-top: 12vh;
    min-height: 83vh;
    padding-top: 1vh;
    padding-bottom: 1vh;
    background-color: rgb(33,101,131);
}

.article {
    background-color: rgb(99,170,188);
    width: 80vw;
    border-radius: 10px;
    padding: 5vh 1vw;
    margin: 3vh auto 0;
    box-shadow: 2px 2px 2px .5px rgba(0,0,0,0.3);
}