* {
    font-family: 'Molengo', sans-serif;
    margin: 0;
    padding: 0;
}

html, body {
    width: 100vw;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-size: (1em+1vw);
}


.tictactoeContainer {
    display: flex;
    flex-direction: column;
    height: 88vh;
    width: 100vw;
    margin-top: 12vh;
    overflow-x: hidden;
    overflow-y:hidden;
}

.tictactoe {
    display: flex;
    flex-direction: row;
    height: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
}

.wordList {
    display: flex;
    flex:1;
    color: rgb(235,235,235);
    flex-direction: column;
    font-size: 1.3em;
    height: 100%;
    margin: 0;
    width: 100%;
    padding: 1vh 0;
    background:linear-gradient(45deg, rgba(33,101,131,1), rgba(33,101,131,.9));
    justify-content: flex-start;
    align-items: center;
    box-shadow: 0 1vh .2vh 1vh rgba(0,0,0,.5);
    overflow-y:hidden;
}

.wordList ol {
    display: grid;
    grid-template-columns: 23% 23% 23%;
    grid-template-rows: 25% 25% 25%;
    grid-column-gap: 1vw;
    grid-row-gap: 1vh;
    justify-content: space-evenly;
    margin-top: 2vh;
}

.wordList h4 {
    width: 50%;
    text-align: center;
}

.inputField {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 15em;
    color: rgb(240,240,240);
    border: none;
    border-radius: 5px;
          
}

.inputField input {
    background-color: rgb(99,170,188);
    font-size: 1em;
    color: rgb(5,5,5);
    border: none;
    border-radius: 1vh;
    width: 100%;
    margin-left: auto;
    padding-left: 2vw;
    box-shadow: .1vh .1vh 0vh .1vh rgba(0,0,0,0.5);
}




.wordList > form > div {
    display: flex;
    justify-content: space-evenly;
    padding: 1vh 0;
}

.tictactoeArea {
    display: flex;
    flex: 1;
    flex-direction: column;
    background-color: #63aabc;
    background-image: url("data:image/svg+xml,%3Csvg width='64' height='64' viewBox='0 0 64 64' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8 16c4.418 0 8-3.582 8-8s-3.582-8-8-8-8 3.582-8 8 3.582 8 8 8zm0-2c3.314 0 6-2.686 6-6s-2.686-6-6-6-6 2.686-6 6 2.686 6 6 6zm33.414-6l5.95-5.95L45.95.636 40 6.586 34.05.636 32.636 2.05 38.586 8l-5.95 5.95 1.414 1.414L40 9.414l5.95 5.95 1.414-1.414L41.414 8zM40 48c4.418 0 8-3.582 8-8s-3.582-8-8-8-8 3.582-8 8 3.582 8 8 8zm0-2c3.314 0 6-2.686 6-6s-2.686-6-6-6-6 2.686-6 6 2.686 6 6 6zM9.414 40l5.95-5.95-1.414-1.414L8 38.586l-5.95-5.95L.636 34.05 6.586 40l-5.95 5.95 1.414 1.414L8 41.414l5.95 5.95 1.414-1.414L9.414 40z' fill='%23216583' fill-opacity='0.38' fill-rule='evenodd'/%3E%3C/svg%3E");
    justify-content: flex-start;
    align-items: center;
    height: 100%;
    box-shadow: 0 1vh .2vh 1vh rgba(0,0,0,2);
    overflow-x: hidden;
    overflow-y:hidden;
    padding: 2vh 0;
    
}



.tictactoeBoard {
    background-color: rgb(240,240,240);
    height: 32vw;
    width: 32vw;
    margin-top: 3vh;
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: 33% 33% 33%;
    grid-column-gap: 0.5vh;
    grid-row-gap: 0.5vh;
    justify-content: space-between;
    align-content: space-between; 
    border: 3px solid rgb(240,240,240);
    border-radius: 3px;
    box-shadow: 0vh 0vw 1vw .3vw rgba(0,0,0,.2);
}

.buttons {
    display: flex;
    height: 20%;
    align-items: flex-end;
    justify-content: space-between;
    background-color: rgb(99,170,188);
}

.buttons button {
    flex:1;
    background:linear-gradient(45deg, rgba(33,101,131,1), rgba(33,101,131,.9));
    border: 1px solid;
    height: 100%;
    border-radius: 3px;
}

.menuButton {
    border-radius: 5px;
    background-color: rgba(240,240,240,0.8);
    border: 1px solid rgb(33,101,131);
    width: 20%;
    min-height: 2em;
    font-size: 0.75em;
    box-shadow: 2px 2px 1px 1px rgba(33,101,131,0.2);
}

.tictactoeSquare {
    font-size: 3vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 95%;
    width: 95%;
    background: linear-gradient(45deg,rgba(99,170,188,1),rgba(99,170,188,.8));
    color: black;
    border-radius: 3px;
    box-shadow: .1vh .1vw .1vw .1vw rgb(33,101,131);
    
}

.squareWord {
    text-align: center;
    height: 35%;
    line-height: 100%;
    color: rgb(5,5,5);
    overflow: hidden;
    text-overflow: clip;
}

.squareMark {
    justify-content: center;
    align-items: center;
    display: flex;
    height: 50%;
    background-color: transparent;
    color: rgb(5,5,5);
}

.winner {
    font-size: 1em;
    position: absolute;
    width: 50%;
    color: rgb(13, 5, 133);
    background-color: rgba(255, 255, 255, 0.8);
    box-shadow: 1px 1px 10px 10px rgb(13, 5, 133);
    top: 40%;
    text-align: center;
}


@media screen and (max-width: 700px) {
    .tictactoeContainer {
        height: 110vh;
        min-height: 150vw;
    }
    .tictactoe {
        flex-direction: column;
    }

    .wordList {
        max-height: 30%;
        flex: 1;
    }

    .tictactoeArea {
        min-height: 80vw;
    }

    .tictactoeBoard {
        height: 80%;
        width: 80%;
    }

    .tictactoeSquare {
        font-size: 5vw;
    }

    .winner {
        top: 80%;
        width: 100%;
    }
}